*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  font-size: 12px;
}

header {
  background-color: #363537;
  color: whitesmoke;
  box-shadow: 0 0 15px #363537;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

header h1 {
  font-weight: 100;
  font-size: 1.5rem;
  width: min-content;
  text-align: center;
}

header h1 span {
  color: #8CD867;
  font-family: "Merienda", cursive;
  font-size: 3.3rem;
  display: block;
  margin-top: 0;
}

header nav {
  display: flex;
  gap: 1em;
}

header nav a {
  font-size: 1.2rem;
  text-decoration: none;
  color: whitesmoke;
  padding: 0.5em 1em;
  transition: 0.1s;
}

header nav a:hover {
  border-bottom: 3px solid #8CD867;
}

main {
  height: calc(100dvh - 122px);
}

.home {
  background-image: url('./assets/greenery.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: whitesmoke;
}

.content {
  width: 90%;
  margin: 0 auto;
}

.content h2 {
  font-size: 2.3rem;
}

.content p {
  font-size: 1.5rem;
}

.home--container h2 {
  font-size: 3rem;
}

.home--container p {
  font-size: 1.3rem;
  margin-top: 0;
  padding-top: 0;
}

.home--container button {
  color: whitesmoke;
  background-color: #8CD867;
  width: 100%;
  max-width: 450px;
  border: none;
  border-radius: 4px;
  padding: 1em 1.5em;
  margin-top: 1em;
  text-shadow: 0 0 1px black;
  box-shadow: 0 0 5px black;
  letter-spacing: 1px;
  font-family: inherit;
  font-weight: 700;
}

.home--container button:hover,
.about--extra button:hover {
  background-color: whitesmoke;
  color: #363537;
  cursor: pointer;
  text-shadow: none;
}

.about--container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  padding-block: 3em;
}

.about--img {
  width: 100%;
  height: 40dvh;
  background-image: url('./assets/island-view.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.about--info {
  flex: 1 1 50%;
}

.underline {
  border-bottom: 4px solid #8CD867;
}

.about--extra {
  flex: 1 1 50%;
  background-color: #8CD86799;
  color: #363537;
  border-radius: 5px;
  padding: 1.8em 1.5em;
  font-size: 1.5rem;
}

.about--extra p:first-of-type {
  margin-top: 0;
}

.about--extra button {
  border: none;
  color: whitesmoke;
  background-color: #363537;
  padding: 1.3em 2.5em;
  border-radius: 5px;
  font-family: inherit;
  font-size: 1.3rem;
  font-weight: 700;
}

.gettinghere--main h2 {
  padding-top: 0.5em;
}

.gettinghere--container {
  display: flex;
  gap: 1em;
  margin-top: 1.5em;
}

.gettinghere--info,
.gettinghere--img-plane,
.gettinghere--img-cruise {
  flex: 1 1 40%;
}

.gettinghere--img-plane,
.gettinghere--img-cruise {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 33dvh;
}

.gettinghere--img-plane {
  background-image: url('./assets/plane.jpg');
  
}

.gettinghere--img-cruise {
  background-image: url('./assets/cruise.jpg');
  background-position: center 70%;
}