*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  font-size: 12px;
}

header {
  background-color: #363537;
  color: whitesmoke;
  box-shadow: 0 0 15px #363537;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

header h1 {
  font-weight: 100;
  font-size: 1.5rem;
  width: min-content;
  text-align: center;
}

header h1 span {
  color: #8CD867;
  font-family: "Merienda", cursive;
  font-size: 3.3rem;
  display: block;
  margin-top: 0;
}

header nav {
  display: flex;
  gap: 1em;
}

header nav a {
  font-size: 1.2rem;
  text-decoration: none;
  color: whitesmoke;
  padding: 0.5em 1em;
  transition: 0.2s;
}

header nav a:hover {
  border-bottom: 3px solid #8CD867;
}

.mobile-nav {
  display: none;
}

.mobile-links {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 11vh;
  right: 0;
  width: 100%;
  height: 32vh;
  z-index: 10;
  background-color: #363537;
  text-align: center;
}

.menu-icon {
  transition: transform 0.7s ease, opacity 0.7s ease;
  opacity: 1;
}

.menu-icon.hidden {
  opacity: 0;
  transform: rotate(90deg);
}

main {
  height: calc(100dvh - 105px);
}

.home {
  background-image: url('./assets/greenery.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: whitesmoke;
}

.content {
  width: 90%;
  margin: 0 auto;
}

.content h2 {
  font-size: 2.3rem;
}

.content h3, .content p {
  font-size: 1.5rem;
}

.home--container h2 {
  font-size: 3rem;
}

.home--container p {
  font-size: 1.3rem;
  margin-top: 0;
  padding-top: 0;
}

.home--container button {
  color: whitesmoke;
  background-color: #8CD867;
  width: 100%;
  max-width: 450px;
  border: none;
  border-radius: 4px;
  padding: 1em 1.5em;
  margin-top: 1em;
  text-shadow: 0 0 1px black;
  box-shadow: 0 0 5px black;
  letter-spacing: 1px;
  font-family: inherit;
  font-weight: 700;
}

.home--container button:hover,
.about--extra button:hover,
#contact--form button:hover {
  background-color: whitesmoke;
  color: #363537;
  cursor: pointer;
  text-shadow: none;
}

.about--container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  padding-block: 3em;
}

.about--img {
  width: 100%;
  height: 40dvh;
  background-image: url('./assets/island-view.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.about--info,
.things--entertainment,
.things--sightseeing,
.contact--info,
.contact--questions {
  flex: 1 1 50%;
}

.underline {
  border-bottom: 4px solid #8CD867;
}

.about--extra {
  flex: 1 1 50%;
  background-color: #8CD86799;
  color: #363537;
  border-radius: 5px;
  padding: 1.8em 1.5em;
  font-size: 1.5rem;
}

.about--extra p:first-of-type {
  margin-top: 0;
}

.about--extra button {
  border: none;
  color: whitesmoke;
  background-color: #363537;
  padding: 1.3em 2.5em;
  border-radius: 5px;
  font-family: inherit;
  font-size: 1.3rem;
  font-weight: 700;
}

.gettinghere--main h2,
.gettingaround--main h2,
.hotelsresorts--main h2,
.restaurants--main h2,
.things--main h2 {
  padding-top: 1.5em;
}

.gettinghere--container,
.gettingaround--container,
.restaurants--container,
.hotelsresorts--container,
.things--container,
.contact--container {
  display: flex;
  gap: 1em;
  margin-top: 1.5em;
}

.gettinghere--info,
.gettingaround--info,
.hotelsresorts--info,
.restaurants--info
 {
  flex: 1 1 65%;
}

.gettinghere--img-plane,
.gettinghere--img-cruise,
.gettingaround--public-bus,
.gettingaround--private-bus,
.gettingaround--taxi,
.gettingaround--rental-car,
.gettingaround--bike,
.gettingaround--walking,
.hotelsresorts--resort,
.hotelsresorts--family-hotel,
.hotelsresorts--bed-and-breakfast,
.restaurants--seafood,
.restaurants--burger,
.restaurants--sushi {
  flex: 1 1 35%;
  border-radius: 8px;
}

.gettinghere--img-plane,
.gettinghere--img-cruise,
.gettingaround--public-bus,
.gettingaround--private-bus,
.gettingaround--taxi,
.gettingaround--rental-car,
.gettingaround--bike,
.gettingaround--walking,
.hotelsresorts--resort,
.hotelsresorts--family-hotel,
.hotelsresorts--bed-and-breakfast,
.restaurants--seafood,
.restaurants--burger,
.restaurants--sushi {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 30dvh;
}

.hotelsresorts--resort {
  background-image: url('./assets/resort.jpg');
}

.hotelsresorts--family-hotel {
  background-image: url('./assets/family-hotel.jpg');
}

.hotelsresorts--bed-and-breakfast {
  background-image: url('./assets/bed-and-breakfast.jpg');
}

.gettinghere--img-plane {
  background-image: url('./assets/plane.jpg');
  
}

.gettinghere--img-cruise {
  background-image: url('./assets/cruise.jpg');
  background-position: center 70%;
}

.gettingaround--public-bus {
  background-image: url('./assets/public-bus.jpg');
}

.gettingaround--private-bus {
  background-image: url('./assets/private-bus.jpg');
}

.gettingaround--taxi {
  background-image: url('./assets/taxi.jpg');
}

.gettingaround--rental-car {
  background-image: url('./assets/rental-car.jpg');
}

.gettingaround--bike {
  background-image: url('./assets/bike.jpg');
}

.gettingaround--walking {
  background-image: url('./assets/walking.jpg');
}

.gettingaround--container:last-of-type,
.hotelsresorts--container:last-of-type,
.restaurants--container:last-of-type {
  padding-bottom: 5em;
}

.restaurants--seafood {
  background-image: url('./assets/seafood.jpg');
}

.restaurants--burger {
  background-image: url('./assets/burger.jpg');
}

.restaurants--sushi {
  background-image: url('./assets/sushi.jpg');
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14em, 1fr));
  grid-gap: 1em;
  justify-items: center;
  padding-top: 5em;
}

.gallery img {
  width: 100%;
  height: 100%;
  min-height: 14em;
  object-fit: cover;
  border-radius: 5px;
}

#contact--form div {
  display: flex;
  flex-direction: column;
  min-width: 260px;
}

#contact--form input,
#contact--form textarea {
  outline: none;
  border: none;
  background-color: #8CD86790;
  border-radius: 5px;
  margin-bottom: 1em;
  padding: 0.8em 1.2em;
  width: 80%;
}

#contact--form textarea {
  height: 10em;
  resize: none;
}

#contact--form button {
  border: none;
  color: whitesmoke;
  background-color: #363537;
  padding: 1em 2em;
  border-radius: 5px;
}

/* media queries */

@media(max-width: 1200px){
  .mobile-nav {
    display: flex;
  }

  .desktop-nav {
    display: none;
  }

  .about--container,
  .gettinghere--container,
  .gettingaround--container,
  .hotelsresorts--container,
  .restaurants--container,
  .things--container,
  .contact--container {
    flex-direction: column;
  }

  .about--extra {
    width: 100%;
  }

  .gettinghere--info,
  .gettinghere--img-plane,
  .gettinghere--img-cruise,
  .gettingaround--public-bus,
  .gettingaround--private-bus,
  .gettingaround--taxi,
  .gettingaround--rental-car,
  .gettingaround--bike,
  .gettingaround--walking,
  .hotelsresorts--resort,
  .hotelsresorts--family-hotel,
  .hotelsresorts--bed-and-breakfast,
  .restaurants--seafood,
  .restaurants--burger,
  .restaurants--sushi {
    flex: 1 1 auto;
  }
}