*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  font-size: 12px;
}

header {
  background-color: #363537;
  color: whitesmoke;
  box-shadow: 0 0 15px #363537;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

header h1 {
  font-weight: 100;
  font-size: 1.5rem;
  width: min-content;
  text-align: center;
}

header h1 span {
  color: #8CD867;
  font-family: "Merienda", cursive;
  font-size: 4.3rem;
  display: block;
  margin-top: 0;
}

header nav {
  display: flex;
  gap: 1em;
}

header nav a {
  font-size: 1.2rem;
  text-decoration: none;
  color: whitesmoke;
  padding: 0.5em 1em;
}

header nav a:hover {
  border-bottom: 3px solid #8CD867;
}

main {
  height: calc(100dvh - 122px);
}

.home {
  background-image: url('./assets/greenery.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home--content {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  color: whitesmoke
}

.home--content h2 {
  font-size: 3rem;
}

.home--content p {
  font-size: 1.3rem;
  margin-top: 0;
  padding-top: 0;
}

.home--content button {
  color: whitesmoke;
  background-color: #8CD867;
  width: 100%;
  max-width: 450px;
  border: none;
  border-radius: 4px;
  padding: 1em 1.5em;
  margin-top: 1em;
  text-shadow: 0 0 1px black;
  letter-spacing: 1px;
  font-family: inherit;
  font-weight: 700;
}

.home--content button:hover {
  background-color: whitesmoke;
  color: #363537;
  cursor: pointer;
  text-shadow: none;
}